Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-eu-west-2-431995029029"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  "/tmp/ebnode.py":
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-west-2.amazonaws.com/elasticbeanstalk-eu-west-2-431995029029/eb_node_config/ebnode.py

    
commands:
  backup_ebnode:
    command: cp /opt/elasticbeanstalk/containerfiles/ebnode.py /opt/elasticbeanstalk/containerfiles/ebnode.py.bk
  overwrite_ebnode:
    command: cp -vfb /tmp/ebnode.py /opt/elasticbeanstalk/containerfiles/ebnode.py